<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note Home</title>
</head>
<body>
    <h1>Note index!!</h1>
    <form   name='login_form' method='GET' action='/login'>
        <div class="form-group text-right">
            <input type="submit" value='Login' name='login' action='/login' >
        </div>
    </form>
    <form   name='signup_form' method='GET' action='/signup'>
        <div class="form-group text-right">
            <input type="submit" value='SignUP' name='signup' action='/signup' >
        </div>
    </form>
</body>
</html>